/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
a:visited{
    color: #0095f6;
}

/* BODY */
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* INSTAGRAM WRAPPER */
.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

/* INSTAGRAM PHONE */
.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram-phone img{
    height: 35rem;
}

/* INSTAGRAM CONTENT */
.instagram-content{
    display: flex;
    align-items: center; /* HORIZONTAL */
    justify-content: space-around; /* VERTICAL */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
.instagram-content input{
    width: 70%;
    padding: 0.7rem 0.2rem;
    margin-bottom: 0.3rem;
    border-radius: 0.2rem;
    border: 1px solid lightgray;
    font-size: 0.85rem;
    color: black;
}
.instagram-content #tel{
    margin-top: 1rem;
}
.instagram-content input[type="submit"]{
    background-color: #0095f6;
    border: 1px solid #0095f6;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
}

.link-blue{
    color: #0095f6;
    cursor: pointer;
}

.facebook-login{
    width: 70%;
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin: 1rem 0;
    text-align: center;
}

/* GROUP */
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group .logo{
    height: 3rem;
}
.group .p1{
    font-size: 13px;
    font-weight: 600;
    margin-top: 1rem;
    width: 70%;
    text-align: center;
}

.group:nth-child(1){
    min-height: 22rem;
    margin-bottom: 0.5rem;
    justify-content: space-around;
}

/* MEDIA QUERIE */
@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 630px){
    body{
        background-color: #fff;
    }
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-content{
        width: 100%;
    }
    .instagram-content input{
        width: 77%;
    }
    .group{
        border: 1px solid transparent;
    }
}